<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
 {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!-- left side div -->
                   <div class="col-md-6 col-12 main_header_left">
                    <figure>
                        <img src="img/3.jpg" alt="pinkoo" class="img-fluid" title="pinkoo patel">
                    </figure>
                       <p>Welcome to weather app </p>
                       <h1>Opps! Page Not Found</h1>
                       <a href="/"><button>Go Back</button></a>
                   </div>
                
                   <!-- right side div -->
            
               </div>
            </div>  
        </div>  
    </div>  

    <!-- footer code -->
   {{>footer}}
</body>
</html>