<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
 {{>navbar}}
    <!-- main header -->
    <div class="containter-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
               <div class="row">
                   <!-- left side div -->
                   <div class="col-md-6 col-12 main_header_right">
                    <figure>
                        <img src="img/7.jpg" alt="pinkoo" class="img-fluid" title="pinkoo patel">
                    </figure>
                    </div>
                   <div class="col-md-6 col-12 main_header_left">
                       <p>Welcome to weather app </p>
                       <h1>I Am A weather app <span class="text_clr">Use me,I give you the weather.</span> weather information of India and all over the world</h1>
                       <a href="https://weather.com/en-IN/?Goto=Redirected"><button>About me</button></a>
                   </div>
                
                   <!-- right side div -->
            
               </div>
            </div>  
        </div>  
    </div>  

    <!-- footer code -->
   {{>footer}}
</body>
</html>